body {
    background-color: rgb(81, 146, 179);
}

h1 { 
    font-family: Oswald;
    color:  rgb(81, 146, 179);
}

h2 {
    color: cadetblue;
    text-align: center;
}


<<<<<<< HEAD

=======
>>>>>>> 35ee0c8f07521a6aacce92f0b2a3f6e36ddee7f1
.thumbnail {
    background: -moz-element();
}
 
<<<<<<< HEAD
 div {
  
} 
=======
div {
}
>>>>>>> 35ee0c8f07521a6aacce92f0b2a3f6e36ddee7f1

p.b {
  font: italic bold 12px/30px Georgia, serif; 
  font-size: 20px;
  color: aquamarine;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: aliceblue;
}

<<<<<<< HEAD

p.solid {border-style: solid;color:red}
=======
p.solid {border-style: solid;color:red}
>>>>>>> 35ee0c8f07521a6aacce92f0b2a3f6e36ddee7f1
